html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.navbar{
    margin-bottom: 0;
}



.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

.footer-color{
    background-color: #38403a;
    
    height: 50px;
}

.footer-align{
    color: white;
    padding-top: 15px;
    text-align: center;
}

.section-top{
    margin-bottom: 20px
}

.product-description-tabs{
    padding: 10px;
}

.section{
    padding: 50px 0;
}

.section h1{
    margin-bottom: 40px;
}

.product-item{
    height: 360px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.add-to-card-btn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.discount-container{
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery{
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}

.navbar-top{
    min-height: 10px;
    height: 20px;
    background-color: green;
    border: none;
    border-radius: 0;
}

.navbar-main{
    background-color: #38403a;
    border: none;
    border-radius: 0;
}

.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #656565;
    z-index: 10;
    padding: 10px;
    color:#efeaea;
}

.form-error{
    color: red;
}

.imgpos{
    /* display: block; */
    max-width: 100%;
    height: 230px;
}

.aft-pur{
    margin-top: 100px;
    text-align: center;
    
}

.section-discount{
    background-color: #de911e;
    padding-block-start: inherit;
}

.img-on-self-page{
    border: 1px solid black;
}

.bg-img{
    max-height: 950px;
    min-height: 100%;
}
a{
    color: #efeaea;
}

a:hover{
    color: #ab9c9c;
}

.navbar-default .navbar-brand{
    color:#efeaea;
}

.navbar-default .navbar-nav>li>a{
    color:#efeaea;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ab9c9c;
    background-color: transparent;
}

.navbar-default .navbar-brand:hover{
    color: #ab9c9c;
}